form {
    background-color: #DFE8CA;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

.details {
    background-color: #DFE8CA;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

/* Main Layout*/
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: start;
}

/* Inputs*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 8px;
}

/* Big textarea */
textarea {
    height: 323px;
    resize: none;
}

.location {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: auto;
    margin-top: 3px;
    gap: 20px;
}

.terms {
    margin-top: 25px;
    display: flex;
    text-align: flex-start;
    gap: 10px;
}

.terms input[type="checkbox"]{
    width: auto;
    margin-top: 3px;
}

.term {
    margin-top: 25px;
}

/* button */
#submit {
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    background-color: #225A35;
    color: #CED6BB;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    padding: 12px;
    margin-top: 18px;
}

#submit:hover {
    color: #225A35;
    background-color: #97C23D;
}

@media (max-width: 500px){ 
    .form-grid{
        display: block;
    }

}

@media (max-width: 1000px){ 
    .location{
        display: block;
    }
    textarea{
        height: 470px;
    }

}
