.team-container {
    display: flex;            /* Enables Flexbox */
    justify-content: center;  /* Centers the boxes horizontally */
    gap: 1px;               /* This creates the "little space" between them */
    flex-wrap: wrap;         /* Allows them to stack on mobile screens */
    align-items: flex-start;

    padding: 30px 0;
}

.team-box {
    flex:1;
    max-width: 400px;
    min-width: 280px;
    min-height: 550px;
    /* This controls the width of the box */
    width: 30%; 
    
    /* This centers the box on the page */
    margin: 5px ; 

    /* Standard box styling */
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
}


.team-box img {
    /* Keeps your photo from spilling out of the 80% width box */
    max-width: 100%; 
    height: auto;
}